doctype html
html(dir='rtl')
	head
		title= title 
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar',aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						if !user
							li(class=(title=="Charity Register") ? "active" : '')
								a(href='/users/register') ثبت نام خیریه
							li(class=(title=="Login") ? "active" : '')
								a(href='/users/login') ورود
					ul.nav.navbar-nav
						if user
							li
								a(href='/users/logout') خروج	
					ul.nav.navbar-nav.navbar-right
						if user		
							li(class=(title=="Search") ? "active" : '')
								a(href='/users/search') جستجو
							li(class=(title=="History") ? "active" : '')
								a(href='/users/history') مشاهده پرداخت ها
							li(class=(title=="People") ? "active" : '')
								a(href='/users/people') افراد تحت پوشش
							li(class=(title=="Payment") ? "active" : '')
								a(href='/users/payment') پرداخت
							li(class=(title=="Person Register") ? "active" : '')
								a(href='/users/personregister') ثبت نام فرد
							li(class=(title=="Main Page") ? "active" : '')
								a(href='/') صفحه اصلی
		.container
			!=messages()
			block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	//- script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	script(src='javascripts/bootstrap.js')