extends layout

block content
	h1 ورود
	hr
	form(method='post',action='/users/login')
		.form-group
			label نام کاربری
			input.form-control(name='username',type='text')
		.form-group
			label رمز عبور
			input.form-control(name='password',type='password')
		input.btn.btn-default(name='submit', type='submit',value='ورود')