extends layout

block content
	h1 پرداخت
	hr
	form(method='post',action='/users/payment')
		.form-group
			label شماره شناسنامه
			input.form-control(name='ssnumber',type='text')
		.form-group
			label مبلغ
			input.form-control(name='amount',type='text')
		.form-group
			label علت پرداخت
			input.form-control(name='reason',type='text')
		input.btn.btn-default(name='submit', type='submit',value='ثبت پرداخت')